
label{
    border: 1px solid #3f3f3f;
     padding: 5px 10px;
}

input[type="radio"] {
    display:none;
}
input[type="radio"] + label  {
    display:inline-block;
    /* width:50px;
    height:19px; */
    margin:-2px 10px 0 0;
    vertical-align:middle;
    cursor:pointer;
}
input[type="radio"]:checked + label  {
    border: 1px solid orange;
    color: orange;
}


/* ------------------- */
.don_hang{
    /* border: 2px solid #3f3f3f; */
     box-shadow: 3px 3px 4px 4px #b8b4b4;
}

.btn_thanh_toan{
    padding: 5px 10px;
    background-color: #F4A851;
    transition: all ease-in-out 0.2s;
    float: right;
}
.btn_thanh_toan:hover{
    /* box-shadow: 1px 1px 2px 2px #b8b4b4; */
    transform: scale(1.1);
    transition: all ease-in-out 0.2s;
}
